.container {
  margin: 20px;
  font-family: Arial, sans-serif;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #004d40;
  color: white;
}

.gerar-btn {
  background-color: #00695c;
  font-weight: bold;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}
